html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.NotFound {
  background-color: gray;
  /* background-image: url('../public/assets/earphones_a_1.webp'); */
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.backp {
  color: yellow;
}

.backp:hover {
  color: red;
}

/* //// */
.about{
  background-color: wheat;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 40px;
  
}
/* // */
.desc{
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 40px;
}

/* // */
.indexhome{
  /* background-color: red; */
}

.indexhome:hover{
  box-shadow: 3px 3px 3px wheat;
  border-radius: 10px;
}
/* // */
.paypal{
  text-align: center;
}

.deschead {
  text-align: center;
  box-shadow: 7px 7px 7px 7px;
  color: pink;
  justify-content: center;
  align-items: center;
}

.backbutton{
  margin: 10px;
  padding: 10px;
}
.backbutton:hover{
  background-color: red;
  transition: 0.5ms;
}

.shippingg{
  color: green;
  font-style: italic;
}
